chromium*/
git/
google*
graveman/
inkscape/
ipython/
menus/
mpd/mpd.log
mpd/mpdstate
mpd/mpd.db
mpd/mpd.pid
pavucontrol.ini
pentadactyl/info/zendeavor/command-history
pentadactyl/info/zendeavor/local-marks
pentadactyl/info/zendeavor/register-ring
vlc/
weechat/logs/
weechat/*.log
