chromium*/
git/
google*
graveman/
inkscape/
ipython/
menus/
mpd/mpd.pid
mpd/mpd.log
mpd/mpdstate
mpd/sticker.sql
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/mpd.db
mpd/mpd.pid
pavucontrol.ini
pentadactyl/info/zendeavor/command-history
pentadactyl/info/zendeavor/local-marks
pentadactyl/info/zendeavor/register-ring
vlc/
ipython/
znc/moddata/
znc/users/
znc/modules/
weechat/logs/
weechat/*.log
Trolltech.conf
zsh/dotfiles/dirs*
pacmatic
