burp/
chromium/
gtk-2.0/
ipython/
mpd/mpd.pid
mpd/mpd.log
mpd/mpdstate
mpd/mpd.db
mpd/mpd.pid
pavucontrol.ini
pulse/
!pulse/client.conf
!pulse/default.pa
Trolltech.conf
vlc/
weechat/logs/
weechat/*.log
weechat/irc.conf
