[Unit]
Description=Redshift
After=xinitrc.target

[Service]
ExecStart=/usr/bin/redshift -l 45.5:-122.7 -m randr -t 6500:3700
Restart=on-success

[Install]
WantedBy=xinitrc.target

